@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img, svg {
    display: block;
    // cursor: pointer;
}

address {
    font-style: normal;
}

._list {
    list-style: none;
}

._link {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

$color-black: #333;
$color-logo:#FFE30B;
$color-yellow: #FFD00E;
$color-green: #50AB09;
$bgc:#FFFEFC;
$color_accent: #5d20c7;
$transition__stock: all 300ms linear;


body {
font-family: sans-serif; 
font-weight: 400;
// background-color:
scrollbar-width: thin; 
color: $color-black;
background-color: $bgc;
width: 375px;
margin-left: auto;
margin-right: auto;
}
// *{
//     outline: 1px solid red ;
// }

.thk{
    display: none;
}
.vivsible.thk{
    display: flex;
}