<header>
    <nav>
        <ul class='__list'>
            <li class='__item _list'>
                <a rel='noopener no-referrel nofollow' class='__link _link' href='./index.html'>
                    home
                </a>
            </li>
            <li class='__item _list'>
                <a rel='noopener no-referrel nofollow' class='__link _link' href='./updatingDriverLocation.html'>
                    updating status
                </a>
            </li>
            <li class='__item _list'>
                <a rel='noopener no-referrel nofollow' class='__link _link' href='./updatingLoadLocation.html'>
                    load
                </a>
            </li>
        </ul>
    </nav>
</header>